# npm
node_modules/
npm-debug.log

# credentials
app/ts/config/credentials.ts

# OS X
.DS_Store

# istanbul
coverage

# compiled typescript
public/js/
app/js/
.tscache/
**/.baseDir.ts

# tsd
typings/
