# compiled typescript
public/js/
app/js/
.tscache/
**/.baseDir.ts
tscommand*


# istanbul
coverage


# npm
node_modules/
npm-debug.log


# OS X
.DS_Store


# sass
/.sass-cache
public/css/

# vscode
.vscode/
