@import 'modules/color_palette';

// Global colors
$global-background-color: $color-theme-light;
$primary-font-color: $color-theme-dark;

// Grid colors
$grid-background-color: $color-theme-medium;

// Component colors
$component-background-color: $color-theme-light;
$component-hover-color: $color-component-hover;
$component-active-color: $color-component-active;
$component-shadow-color: $color-theme-semi-dark;