@import 'modules/colors';
@import 'modules/inheritance';
@import 'modules/mixins';
@import 'modules/timing';

@keyframes FadeIn {
  0% {
    background-color: transparent;
    border-color: transparent;
    opacity: 0;
  }
}

.fade-in {
  @include vendor-prefix(animation, FadeIn $animation-timing forwards);
}

@keyframes FadeOut {
  100% {
    background-color: transparent;
    border-color: transparent;
    opacity: 0;
  }
}

.fade-out {
  @include vendor-prefix(animation, FadeOut $animation-timing forwards);
}

.flex {
  @extend %flex;
}

.transition {
  @include vendor-prefix(transition, all $transition-timing ease-in-out);
}

.transition-fast {
  @include vendor-prefix(transition, all $transition-timing-fast ease-in-out);
}

.transition-slow {
  @include vendor-prefix(transition, all $transition-timing-slow ease-in-out);
}

.transparent {
  opacity: 0;
}