// Color Theme
$color-theme-light: #F8F8F8;
$color-theme-medium: #E4E4E4;
$color-theme-semi-dark: #5A5A5A;
$color-theme-dark: #222;

// Accent Colors
$color-accent: #EF950E;
$color-accent-active: #EA7900;

// Component Colors
$color-component-hover: #FFDFB2;
$color-component-active: #F2B668;